<template>
  <div style="max-width: 500px; margin: 0 auto" class="pa-3">
    <h1 class="text-center mt-4">Snake</h1>
    <ControlInfo />
    <ScoreAndDifficulty
      @toggleGameStatus="toggleGameStatus"
      @update:difficulty="difficulty = $event"
      :gameInProgress="gameInProgress"
      :score="score"
      :difficulty.sync="difficulty"
    />
    <PlaySquare class="mb-2" ref="snakePlayArea" @foodEaten="score++" />
    <Controls @changeDirection="changeDirection($event)" />
  </div>
</template>

<script>
import PlaySquare from './Snake/PlaySquare'
import Controls from './Snake/Controls'
import ScoreAndDifficulty from './Snake/ScoreAndDifficulty'
import ControlInfo from './Snake/ControlInfo'

export default {
  name: 'Snake',
  data() {
    return {
      gameInProgress: false,
      difficulty: 'medium',
      score: 0
    }
  },
  components: {
    PlaySquare,
    Controls,
    ScoreAndDifficulty,
    ControlInfo
  },
  mounted() {
    this.$watch(
      () => this.$refs.snakePlayArea.gameInProgress,
      function(val) {
        this.gameInProgress = val
      }
    )
  },
  methods: {
    toggleGameStatus() {
      if (this.gameInProgress) this.$refs.snakePlayArea.stopGame()
      else {
        this.score = 0
        this.$refs.snakePlayArea.startGame(this.difficulty)
      }
    },
    changeDirection(direction) {
      this.$refs.snakePlayArea.changeDirection(direction)
    }
  }
}
</script>
