<template>
  <div class="d-flex flex-column align-center">
    <v-btn @click="expand = !expand" text class="mt-4 mb-1"
      ><v-icon>mdi-alert-circle</v-icon>&nbsp;Controls Info</v-btn
    >
    <v-expand-transition>
      <v-card v-show="expand">
        <v-card-text class="text-center">
          <strong>Controls:</strong><br />
          1) arrow keys<br />
          2) swipe play area<br />
          3) use buttons<br />
        </v-card-text>
      </v-card>
    </v-expand-transition>
  </div>
</template>

<script>
export default {
  data() {
    return {
      expand: false
    }
  }
}
</script>
