<template>
  <div class="controls">
    <v-btn
      @click="$emit('changeDirection', 'up')"
      class="up"
      block
      tile
      elevation="0"
    >
      <v-icon>mdi-arrow-up-bold</v-icon>
    </v-btn>
    <v-btn
      @click="$emit('changeDirection', 'down')"
      class="down"
      block
      tile
      elevation="0"
    >
      <v-icon>mdi-arrow-down-bold</v-icon>
    </v-btn>
    <v-btn
      @click="$emit('changeDirection', 'left')"
      class="left"
      block
      tile
      elevation="0"
    >
      <v-icon>mdi-arrow-left-bold</v-icon>
    </v-btn>
    <v-btn
      @click="$emit('changeDirection', 'right')"
      class="right"
      block
      tile
      elevation="0"
    >
      <v-icon>mdi-arrow-right-bold</v-icon>
    </v-btn>
  </div>
</template>

<style lang="scss">
.controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    '. up .'
    'left up right'
    'left down right'
    '. down .';
}

.up {
  grid-area: up;
}

.down {
  grid-area: down;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}
</style>
