<template>
  <v-touch
    @swipeleft="changeDirection('left')"
    @swiperight="changeDirection('right')"
    @swipeup="changeDirection('up')"
    @swipedown="changeDirection('down')"
  >
    <v-responsive
      id="SnakeBoard"
      :style="{
        border: '2px solid'
      }"
      :width="length"
      class="green darken-4"
      aspect-ratio="1"
    >
      <div
        v-for="(row, i) in grid"
        :key="i"
        :style="{
          width: '100%',
          height: `calc(100% / ${yMax})`,
          display: 'flex'
        }"
      >
        <div
          v-for="(square, j) in row"
          :key="j"
          class="column"
          :style="{
            width: `calc(100% / ${xMax})`,
            height: '100%',
            borderRadius: '4px'
          }"
          :class="{
            white: square === 'S',
            'light-blue': square === 'H',
            'lighten-3': square === 'H',
            teal: square === 'F' || square === 'D',
            'accent-3': square === 'F',
            'darken-1': square === 'D'
          }"
        ></div>
      </div>
    </v-responsive>
  </v-touch>
</template>

<script>
export default {
  name: 'PlaySquare',
  props: {
    length: {
      type: [Number, String],
      default: '100%'
    }
  },
  data() {
    return {
      grid: [],
      xMax: 32,
      yMax: 32,
      direction: 'down',
      snake: [],
      interval: undefined,
      lockInput: false,
      holdInputForNextTick: '',
      difficulties: {
        easy: 150,
        medium: 100,
        hard: 60,
        veryHard: 40
      },
      isFirstStart: true
    }
  },
  computed: {
    gameInProgress() {
      return this.interval != undefined
    }
  },
  created() {
    window.addEventListener('keydown', this.eventChangeDirection)
  },
  mounted() {
    this.initSnake()
  },
  beforeDestroy() {
    window.removeEventListener('keydown', this.eventChangeDirection)
  },
  methods: {
    initSnake() {
      // initialize grid
      this.snake = [
        { x: 16, y: 7 },
        { x: 16, y: 6 },
        { x: 16, y: 5 }
      ]
      const grid = []
      for (let i = 0; i < this.yMax; i++) {
        const row = []
        for (let j = 0; j < this.xMax; j++) {
          if (this.snake[0].x === j && this.snake[0].y === i) row.push('H')
          else if (
            this.snake
              .slice(1)
              .some(
                (snakePartPos) => snakePartPos.x === j && snakePartPos.y === i
              )
          )
            row.push('S')
          else row.push(null)
        }
        grid.push(row)
      }
      this.grid = grid
      this.generateFood()
      this.direction = 'down'
    },
    generateFood() {
      let x, y, foodIsInSnake, foodIsInCorner
      do {
        x = Math.round(Math.random() * (this.xMax - 1))
        y = Math.round(Math.random() * (this.yMax - 1))

        foodIsInCorner =
          (x === 0 && y === 0) ||
          (x === 0 && y === this.yMax) ||
          (x === this.xMax && y === 0) ||
          (x === this.xMax && y === this.yMax)

        foodIsInSnake = this.snake.some(
          (snakePart) => snakePart.x === x && snakePart.y === y
        )
      } while (foodIsInSnake || foodIsInCorner)
      this.$set(this.grid[y], x, 'F')
    },
    progressGame() {
      const oldHead = this.snake[0]
      const oldTail = this.snake.slice(-1).pop()

      // First Move Snake Head
      const newSnake = [...this.snake]
      let newHead
      switch (this.direction) {
        case 'right':
          newHead = { x: oldHead.x + 1, y: oldHead.y }
          break
        case 'left':
          newHead = { x: oldHead.x - 1, y: oldHead.y }
          break
        case 'up':
          newHead = { x: oldHead.x, y: oldHead.y - 1 }
          break
        case 'down':
          newHead = { x: oldHead.x, y: oldHead.y + 1 }
          break
      }
      newSnake.unshift(newHead)

      // Check if Game Over
      const isOutOfBound =
        newHead.x < 0 ||
        newHead.x >= this.xMax ||
        newHead.y < 0 ||
        newHead.y >= this.yMax
      const isNewHeadOldTail =
        newHead.x === oldTail.x && newHead.y === oldTail.y
      const tailIsDigesting = this.grid[oldTail.y][oldTail.x] === 'D'
      const hasBittenItself =
        newSnake
          .slice(1, -1)
          .some(
            (snakePartPos) =>
              newHead.x === snakePartPos.x && newHead.y === snakePartPos.y
          ) ||
        (isNewHeadOldTail && tailIsDigesting)
      if (isOutOfBound || hasBittenItself) {
        this.stopGame()
        return
      }

      // Move Tail
      if (!tailIsDigesting) newSnake.pop()

      // Check if Food
      const headIsOnFood = this.grid[newHead.y][newHead.x] === 'F'

      // Update grid
      newSnake.slice(1, -1).forEach(({ x, y }) => {
        if (this.grid[y][x] != 'D') this.$set(this.grid[y], x, 'S')
      })
      if (headIsOnFood) this.$set(this.grid[newHead.y], newHead.x, 'D')
      else this.$set(this.grid[newHead.y], newHead.x, 'H')
      if (!tailIsDigesting) this.$set(this.grid[oldTail.y], oldTail.x, null)
      else this.$set(this.grid[oldTail.y], oldTail.x, 'S')
      this.snake = newSnake

      // Generate new food and emit food eaten
      if (headIsOnFood) {
        this.generateFood()
        this.$emit('foodEaten')
      }

      // unlock input
      this.lockInput = false
      if (this.holdInputForNextTick) {
        this.changeDirection(this.holdInputForNextTick)
        this.holdInputForNextTick = ''
      }
    },
    startGame(difficulty) {
      if (!this.isFirstStart) {
        this.initSnake()
      }
      this.isFirstStart = false
      this.interval = setInterval(
        this.progressGame,
        this.difficulties[difficulty]
      )
    },
    stopGame() {
      clearInterval(this.interval)
      this.interval = undefined
      this.lockInput = false
      this.holdInputForNextTick = ''
    },
    changeDirection(direction) {
      if (this.lockInput) {
        this.holdInputForNextTick = direction
        return
      }
      if (
        (this.direction === 'left' && direction === 'right') ||
        (this.direction === 'right' && direction === 'left') ||
        (this.direction === 'up' && direction === 'down') ||
        (this.direction === 'down' && direction === 'up')
      )
        return
      this.direction = direction
      this.lockInput = true
    },
    eventChangeDirection(e) {
      if (!e.key.includes('Arrow')) return
      e.preventDefault()
      const key = e.key.split('Arrow')[1].toLowerCase()
      this.changeDirection(key)
    }
  }
}
</script>

<style lang="scss">
/* button { */
/*   touch-action: manipulation; */
/* } */
</style>
