<template>
  <div>
    <div class="d-flex justify-center align-center">
      <v-radio-group
        v-model="difficulty"
        :disabled="gameInProgress"
        mandatory
        :row="isMounted && !$vuetify.breakpoint.xs"
      >
        <v-radio label="Easy" value="easy" />
        <v-radio label="Medium" value="medium" />
        <v-radio label="Hard" value="hard" />
        <v-radio label="Very Hard" value="veryHard" />
      </v-radio-group>
    </div>
    <v-row>
      <v-col class="d-flex justify-center align-center">
        <v-btn
          @click="$emit('toggleGameStatus')"
          class="d-block"
          :class="{ info: !gameInProgress, accent: gameInProgress }"
          text
          >{{ gameInProgress ? 'Stop Game' : 'Start Game' }}</v-btn
        >
      </v-col>
      <v-col>
        <div
          class="d-flex align-center mb-3 justify-center"
          style="font-size: 25px"
        >
          <span>Score:</span>
          <div
            style="border: 2px solid; width: 65px; height: 65px"
            class="d-flex justify-center align-center ml-2"
          >
            <span>{{ score }}</span>
          </div>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  props: {
    gameInProgress: {
      type: Boolean,
      required: true
    },
    score: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      difficulty: 'medium',
      isMounted: false
    }
  },
  mounted() {
    this.isMounted = true
  },
  watch: {
    difficulty: function(val) {
      this.$emit('update:difficulty', val)
    }
  }
}
</script>
