<template>
  <v-app dark>
    <v-content>
      <Snake />
    </v-content>
  </v-app>
</template>

<script>
import Snake from './components/Snake'

export default {
  name: 'App',
  components: {
    Snake
  }
}
</script>
